nav( class="m-5 navbar navbar-expand-lg navbar-dark bg-primary")
  div( class="container-fluid")
        h1(class="text-start   text-light nave" ) 
           a(href="/profit" class="text-light") profit statistique
        h1(class="text-center  nave text-light") 
           a(href="/profit/product" class="text-light") product profit
        h1(class="text-end  nave text-light") 
           a(href="/profit/transaction" class="text-light") transaction
