<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
        h1(class="text-start   text-light nave" ) 
           a(href="/" class="text-light") merchandise management
        h1(class="text-center  nave text-light") 
           a(href="/buysell" class="text-light") Buying and selling
        h1(class="text-end  nave text-light") 
           a(href="/profit" class="text-light") profit management 
  </div>
</nav>
    