<nav class="m-5 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
        h1(class="text-start   text-light nave" ) 
           a(href="/" class="text-light") products
        h1(class="text-center  nave text-light") 
           a(href="/add" class="text-light") add product
        h1(class="text-end  nave text-light") 
           a(href="/notification" class="text-light") notifications 
  </div>
</nav>