<nav class="m-5 navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
        h1(class="text-center  ml-5 text-light nave" ) 
           a(href="/buysell/buy" class="text-light") Buy
        
        h1(class="text-center mr-5  nave text-light") 
           a(href="/buysell/" class="text-light") Sell
  </div>
</nav>